@model ReceitaModel;

@{
    ViewData["Title"] = "Adicionar Receita";
}

<div class="container">
    <form method="post" asp-controller="Receitas" asp-action="Adicionar">
        <div class="mb-3">
            <label class="form-label">Valor</label>
            <input class="form-control" type="text" asp-for="Valor">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <select class="form-select" asp-for="Usuario">
                <option value="Raul">Raul</option>
                <option value="Gabi">Gabi</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Tipo</label>
            <select class="form-select" asp-for="Tipo">
                <option value="Salario">Salário</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-dark" type="submit">Adicionar</button>
        </div>
    </form>
</div>